PT1H.json
Azure Stack Sizing/ddc.csv
Azure Stack Sizing/allenv.csv
Azure Stack Sizing/adc.csv
.vscode/launch.json
vmexclusion.txt
vmexclusion.csv
ddcStack.csv
snippetSample.json
armSample.json
adcStack.csv
.gitignore
